<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <title>Batcave Dashboard</title>
</head>

<body>
  <h1>Tableau de bord</h1>

  <p>
    Utilisateur :
    <strong id="user-username">Chargement...</strong>
  </p>

  <p>
    Rôle :
    <strong id="user-role">Chargement...</strong>
  </p>

  <button id="reload-profile-btn" type="button">
    Recharger mon profil
  </button>

  <button id="logout-btn" type="button">
    Déconnexion
  </button>
</body>
<script src="/dashboard.js"></script>
</html>