<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form id="register-form">
        <label for="username">Nom d'utilisateur</label>
        <input
            type="text"
            id="username"
            placeholder="Nom d'utilisateur"
            required
        />
        <label for="password">Mot de passe</label>
        <input
            type="password"
            id="password"
            placeholder="Mot de passe"
            required
        />
        <button type="submit">S'inscrire</button>
        <p id="message"></p>
        <a href="admin-page">Déjà un compte ? 🔒 Administration</a>
    </form>
<script src="../public/register.js"></script>
</body>
</html>